@font-face {
			font-family: 'HyliaSerif';
			src: url('HyliaSerif.woff') format('woff');
		}
@font-face {
			font-family: 'Rodin';
			src: url('FOT-Rodin.woff') format('woff');
		}
		
        body {
            font-family: 'HyliaSerif', sans-serif;
            text-align: center;
			color: white;
			background-image: url('bg2.jpg');
            background-size: cover;
            background-position: center;
			background-repeat: no-repeat;
			background-attachment: fixed;
        }

        h1 {
		font-family: 'HyliaSerif', sans-serif;
            color: white;
        }
		
		#armor-sets {
			column-count: 2;
			column-gap: 20px;
			padding-top: 20px;
		}

		#armor-sets:after {
			content: "";
			display: table;
			clear: both;
		}

        .armor-set-details > summary {
			font-family: 'HyliaSerif', sans-serif;
			font-style: normal;
			background-color: #FFFDE3;
			color: #161C22;
			padding: 10px;
			cursor: pointer;
			page-break-inside: avoid;
			break-inside: avoid;
			margin-bottom: 6px;
			border: 1px solid #5d5c5a;
		}
		
		.armor-set-details[open] {
			font-family: 'Rodin', sans-serif;
			font-style: italic;
			break-inside: avoid;
		}
		
		.armor-piece-fieldset {
			background-color: rgba(0, 0, 0, 0.7);
			vertical-align: top;
			page-break-inside: avoid;
			break-inside: avoid;
			width: 100%;
            margin-bottom: 10px;
            box-sizing: border-box;
			display: flex;
			flex-direction: column;
		}

        .checkbox-container {
            display: flex;
            align-items: center;
        }

        .armor-level-checkbox {
            flex: 0 0 24%;
            margin-right: 10px;
        }

        .include-piece-checkbox {
            margin-right: 5px;
        }
		
		#items-required {
			max-width: 2000px;
			margin: 0 auto; 
			padding: 20px; 
			background-color: rgba(0, 0, 0, 0.5);
			text-align: center;
			border: 1px solid #5d5c5a;
		}

        .materials-list {
			font-family: 'Rodin', sans-serif;
			font-style: italic;
            list-style: none;
            padding: 0;
            margin-top: 5px;
        }

        .material-item {
            margin-bottom: 5px;
        }

        .three-columns {
            column-count: 3;
            column-gap: 20px;
        }
		
		#no-materials-message {
			font-family: 'Rodin', sans-serif;
			font-style: oblique
		}
		
		#total-cost {
			font-family: 'Rodin', sans-serif;
			font-style: oblique;
		}
		
        #total-materials {
            margin-top: 20px;
        }